* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 2rem 0;
}

main button {
  width: fit-content;
}

.scroll {
  height: 150vh;
  background: linear-gradient(white, tan);
  width: 100vw;
}

dialog::backdrop {
  background-color: salmon;
  opacity: 0.5;
}
